<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:iot2="http://schemas.microsoft.com/appx/manifest/iot/windows10/2"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/templatestudio"
  IgnorableNamespaces="uap mp genTemplate uap5 uap3 desktop4 iot2">

    <Identity
      Name="8AB4FB3C-4853-443D-B3B9-26E539CBEFF7"
      Publisher="CN=Svass"
      Version="1.0.0.0" />

    <mp:PhoneIdentity PhoneProductId="8AB4FB3C-4853-443D-B3B9-26E539CBEFF7" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

    <Properties>
        <DisplayName>Notes</DisplayName>
        <PublisherDisplayName>SFM61319</PublisherDisplayName>
        <Logo>Assets\Images\Icons\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="App"
          desktop4:SupportsMultipleInstances="true"
          iot2:SupportsMultipleInstances="true"
          Executable="$targetnametoken$.exe"
          EntryPoint="Notes.App">
            <uap:VisualElements
              DisplayName="ms-resource:AppDisplayName"
              Square150x150Logo="Assets\Images\Icons\Square150x150Logo.png"
              Square44x44Logo="Assets\Images\Icons\Square44x44Logo.png"
              Description="ms-resource:AppDescription"
              BackgroundColor="transparent">
                <uap:DefaultTile Wide310x150Logo="Assets\Images\Icons\Wide310x150Logo.png" ShortName="Notes" Square71x71Logo="Assets\Images\Icons\SmallTile.png" Square310x310Logo="Assets\Images\Icons\LargeTile.png">
                    <uap5:MixedRealityModel Path="Assets\3dlogo.glb"/>
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
                        <uap:ShowOn Tile="wide310x150Logo"/>
                        <uap:ShowOn Tile="square310x310Logo"/>
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
                <uap:SplashScreen Image="Assets\Images\Icons\SplashScreen.png" />
            </uap:VisualElements>

            <Extensions>
                <uap:Extension Category="windows.shareTarget">
                    <uap:ShareTarget>
                        <uap:SupportedFileTypes>
                            <uap:FileType>.jpg</uap:FileType>
                            <uap:FileType>.png</uap:FileType>
                        </uap:SupportedFileTypes>
                        <uap:DataFormat>URI</uap:DataFormat>
                        <uap:DataFormat>Bitmap</uap:DataFormat>
                    </uap:ShareTarget>
                </uap:Extension>
                <uap3:Extension Category="windows.appUriHandler">
                    <uap3:AppUriHandler>
                        <uap3:Host Name="myapp.website.com"/>
                    </uap3:AppUriHandler>
                </uap3:Extension>
                <uap5:Extension
                  Category="windows.appExecutionAlias"
                  Executable="Notes.exe"
                  EntryPoint="Notes.App">
                    <uap5:AppExecutionAlias>
                        <uap5:ExecutionAlias Alias="Notes.exe" />
                    </uap5:AppExecutionAlias>
                </uap5:Extension>
                <uap:Extension Category="windows.protocol">
                    <uap:Protocol Name="wtsapp">
                        <uap:Logo>Assets\Images\Icons\Notes.png</uap:Logo>
                        <uap:DisplayName>Notes</uap:DisplayName>
                    </uap:Protocol>
                </uap:Extension>
            </Extensions>
        </Application>
    </Applications>

    <Capabilities>
        <Capability Name="internetClient" />
        <DeviceCapability Name="webcam" />
    </Capabilities>

    <genTemplate:Metadata>
        <genTemplate:Item Name="generator" Value="Template Studio"/>
        <genTemplate:Item Name="wizardVersion" Version="v5.0" />
        <genTemplate:Item Name="projectType" Value="Blank" />
        <genTemplate:Item Name="framework" Value="MVVMToolkit" />
        <genTemplate:Item Name="platform" Value="Uwp" />
    </genTemplate:Metadata>
</Package>
